* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: sandybrown;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.btn {
    background-color: steelblue;
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    font-family: inherit;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}



